﻿
@{
    ViewBag.Title = "BuscarCamion";
}

<div class="card shadow p-3 mb-5 rounded text-center">
    <div class="card-body">
        <h3 class="p-t-20">Buscar Camión</h3>
        <hr />
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="email_address_2">Origen:</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="form-group">
                    <div class="form-line">
                        <input id="txtOrigen" type="text" class="form-control" placeholder="Origen">
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="email_address_2">Destino:</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="form-group">
                    <div class="form-line">
                        <input id="txtDestino" type="text" class="form-control" placeholder="Destino">
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-b-20">
            <button id="btnBuscar" type="button" class="btn btn-info waves-effect text-right col-md-1 col-md-offset-9">
                <i class="material-icons">search</i>
                <span>Buscar</span>
            </button>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/Camiones/BuscarCamion.js"></script>
}