﻿@model AgenciaViajes.Web.Models.CamionOrigen
@{
    ViewBag.Title = "Origenes";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<div class="card text-center">
    <h3 class="p-t-20">Lista de salidas (Origen)</h3>
    <hr />
    <div class="body table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr style="text-align:left">
                    <td>Nombre de la Ciudad</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in Model.Origen)
                {
                    <tr>
                        <th scope="row">@row</th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>