﻿@model AgenciaViajes.Web.Models.Corrida
@{
    ViewBag.Title = "Reservar";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="card shadow p-3 mb-5 rounded text-center">
    <div class="card-body">
        <h3 class="p-t-20">Reservar</h3>
        <hr />
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="email_address_2">Id:</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
                <div class="form-group">
                    <div class="form-line">
                        <input id="txtId" type="text" class="form-control" placeholder="Id">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="email_address_2">Origen:</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="form-group">
                    <div class="form-line">
                        <input id="txtOrigen" type="text" value='@(Model?.Origen)' class="form-control" placeholder="Origen">
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="email_address_2">Destino:</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="form-group">
                    <div class="form-line">
                        <input id="txtDestino" type="text" value='@(Model?.Destino)' class="form-control" placeholder="Destino">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="email_address_2">Fecha:</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="form-group">
                    <div class="form-line">
                        <input id="txtFecha" type="text" class="form-control" placeholder="Fecha">
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="email_address_2">Hora:</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="form-group">
                    <div class="form-line">
                        <input id="txtHora" type="text" class="form-control" placeholder="Hora">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="email_address_2">Número de asientos:</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="form-group">
                    <div class="form-line">
                        <input id="txtNumAsientos" type="text" class="form-control" placeholder="Número de Asientos">
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="email_address_2">Precio:</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="form-group">
                    <div class="form-line">
                        <input id="txtPrecio" type="text" class="form-control" placeholder="Precio">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <hr />
            <h4>Información Bancaria</h4>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label col-lg-offset-5">
                <label for="email_address_2">No de Cuenta:</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="form-group">
                    <div class="form-line">
                        <input id="txtCuenta" type="text" class="form-control" placeholder="Número de Cuenta">
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-b-20">
            <button id="btnReservar" type="button" class="btn btn-info waves-effect text-right col-md-1 col-md-offset-9">
                <i class="material-icons">save</i>
                <span>Listo</span>
            </button>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/Camiones/Reservar.js"></script>
}