﻿
@{
    ViewBag.Title = "Historial";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="card text-center">
    <h3 class="p-t-20">Historial bancario</h3>
    <hr />
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-9 col-lg-offset-3 col-md-offset-3 col-xs-offset-1">
            <h3 for="email_address_2">Ingrese <u>No. Cuenta</u> para buscar su historial bancario.</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
            <label>No. Cuenta:</label>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
            <div class="form-group">
                <div class="form-line">
                    <input id="txtCuenta" type="text" class="form-control" placeholder="No. Cuenta">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <button id="btnBuscar" type="button" class="btn btn-info waves-effect text-right col-lg-6 col-md-6 col-sm-8 col-xs-9 col-lg-offset-3 col-md-offset-3 col-xs-offset-1 m-b-20 m-t-10">
            <i class="material-icons">search</i>
            <span>¡Buscar!</span>
        </button>

        @if (ViewBag.cuenta != null)
        {
            <div class="col-lg-6 col-md-6 col-sm-8 col-xs-9 col-lg-offset-3 col-md-offset-3 col-xs-offset-1 m-b-20 m-t-10">
                <h3>@ViewBag.cuenta</h3>
            </div>
        }

        

    </div>
</div>
@section Scripts {
    <script src="~/Scripts/Pagos/ConsultarHistorial.js"></script>
}
