﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="card text-center">
    <h3 class="p-t-20">Registrar cuenta</h3>
    <hr />
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-9 col-lg-offset-3 col-md-offset-3 col-xs-offset-1">
            <label for="email_address_2">Para generar una clave bancaria de <i>click</i> en <u>general clave</u></label>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-9 col-lg-offset-3 col-md-offset-3 col-xs-offset-1">
            <h3>No olvide su número de cuenta, pues es <u>único</u> y por motivos de seguridad la pagina web <u>¡no lo resguarda!</u></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
            <label>Correo:</label>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
            <div class="form-group">
                <div class="form-line">
                    <input id="txtCorreo" type="text" class="form-control" placeholder="Correo electronico">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
            <label>Nombre:</label>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
            <div class="form-group">
                <div class="form-line">
                    <input id="txtNombre" type="text" class="form-control" placeholder="Nombre">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <button id="btnGenerar" type="button" class="btn btn-info waves-effect text-right col-lg-6 col-md-6 col-sm-8 col-xs-9 col-lg-offset-3 col-md-offset-3 col-xs-offset-1 m-b-20 m-t-10">
            <i class="material-icons">credit_card</i>
            <span>Generar clave</span>
        </button>

        @if (ViewBag.clave != null) {
            <div class="col-lg-6 col-md-6 col-sm-8 col-xs-9 col-lg-offset-3 col-md-offset-3 col-xs-offset-1 m-b-20 m-t-10">
                <h3 id="txtClave">@ViewBag.clave</h3>
            </div>
        }
        
    </div>
</div>
@section Scripts {
    <script src="~/Scripts/Pagos/Index.js"></script>
}
