﻿<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Identifícate</title>
    <link rel="stylesheet" href="https://stackp.w3layouts.com/wp-content/themes/w3layouts/css/login_style.css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/Vendor/Dashboard/style-login.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()

    <!-- Jquery Core Js -->
    <script src="~/Scripts/Vendor/jquery-3.3.1.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>