﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Agencia de Viajes</title>
    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="~/Content/Vendor/bootstrap.css" rel="stylesheet" />

    <!-- Waves Effect Css -->
    <link href="~/Content/Vendor/Dashboard/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="~/Content/Vendor/Dashboard/animate-css/animate.css" rel="stylesheet" />

    <!-- Morris Chart Css-->
    <link href="~/Content/Vendor/Dashboard/morrisjs/morris.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="~/Content/Vendor/Dashboard/style.css" rel="stylesheet" />

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="~/Content/Vendor/Dashboard/all-themes.css" rel="stylesheet" />
</head>

<body class="theme-red">
    <input id="hfUsuarioId" type="hidden" />
    <input id="hfTipoUser" type="hidden" />
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="#" class="bars"></a>
                <a class="navbar-brand" href="Index">AGENCIA DE VIAJES</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!-- Call Search -->
                    <!--<li><a href="javascript:void(0);" class="js-search" data-close="true"><i class="material-icons">search</i></a></li>-->
                    <!-- #END# Call Search -->
                    <!-- Notifications -->
                    <!--<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            <i class="material-icons">notifications</i>
                            <span class="label-count">7</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">NOTIFICACIONES</li>
                            <li class="body">
                                <ul class="menu">
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-light-green">
                                                <i class="material-icons">person_add</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4>12 new members joined</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 14 mins ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-cyan">
                                                <i class="material-icons">add_shopping_cart</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4>4 sales made</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 22 mins ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-red">
                                                <i class="material-icons">delete_forever</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4><b>Nancy Doe</b> deleted account</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 3 hours ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-orange">
                                                <i class="material-icons">mode_edit</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4><b>Nancy</b> changed name</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 2 hours ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-blue-grey">
                                                <i class="material-icons">comment</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4><b>John</b> commented your post</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 4 hours ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-light-green">
                                                <i class="material-icons">cached</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4><b>John</b> updated status</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 3 hours ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-purple">
                                                <i class="material-icons">settings</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4>Settings updated</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> Yesterday
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer">
                                <a href="javascript:void(0);">View All Notifications</a>
                            </li>
                        </ul>
                    </li>-->
                    <!-- #END# Notifications -->
                    <!-- Tasks -->
                    <!--<li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            <i class="material-icons">flag</i>
                            <span class="label-count">9</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">TASKS</li>
                            <li class="body">
                                <ul class="menu tasks">
                                    <li>
                                        <a href="javascript:void(0);">
                                            <h4>
                                                Footer display issue
                                                <small>32%</small>
                                            </h4>
                                            <div class="progress">
                                                <div class="progress-bar bg-pink" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 32%">
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <h4>
                                                Make new buttons
                                                <small>45%</small>
                                            </h4>
                                            <div class="progress">
                                                <div class="progress-bar bg-cyan" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <h4>
                                                Create new dashboard
                                                <small>54%</small>
                                            </h4>
                                            <div class="progress">
                                                <div class="progress-bar bg-teal" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 54%">
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <h4>
                                                Solve transition issue
                                                <small>65%</small>
                                            </h4>
                                            <div class="progress">
                                                <div class="progress-bar bg-orange" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <h4>
                                                Answer GitHub questions
                                                <small>92%</small>
                                            </h4>
                                            <div class="progress">
                                                <div class="progress-bar bg-purple" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 92%">
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer">
                                <a href="javascript:void(0);">View All Tasks</a>
                            </li>
                        </ul>
                    </li>-->
                    <!-- #END# Tasks -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            <i class="material-icons">account_circle</i>
                            <!--<span class="label-count">7</span>-->
                        </a>
                        <ul class="dropdown-menu">
                            <li class="body">
                                <ul class="menu">
                                    <li><a onclick='navigate("@Url.Action("VerPerfil","Usuarios")");'><i class="material-icons">person</i>Mi Perfil</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#"><i class="material-icons">flight_takeoff</i>Mis viajes</a></li>
                                    <li><a href="#"><i class="material-icons">card_travel</i>Mis hoteles</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a onclick='cerrarSesion("@Url.Action("Login","Usuarios")");'><i class="material-icons">input</i>Cerrar Sesión</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
                            <section>
                                <!-- Left Sidebar -->
                                <aside id="leftsidebar" class="sidebar">
                                    <!-- User Info -->
                                    <div class="user-info">
                                        <div class="image">
                                            <img src="~/Content/img/user.png" width="48" height="48" alt="User" />
                                        </div>
                                        <div class="info-container">
                                            <div id="divName" class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></div>
                                            <div id="divTipoUsuario" class="email"></div>
                                            <div class="btn-group user-helper-dropdown">
                                                <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                                                <ul class="dropdown-menu pull-right">
                                                    <li><a onclick='navigate("@Url.Action("VerPerfil","Usuarios")");'><i class="material-icons">person</i>Mi Perfil</a></li>
                                                    <li role="separator" class="divider"></li>
                                                    <li><a href="#"><i class="material-icons">flight_takeoff</i>Mis viajes</a></li>
                                                    <li><a href="#"><i class="material-icons">card_travel</i>Mis hoteles</a></li>
                                                    <li role="separator" class="divider"></li>
                                                    <li><a onclick='cerrarSesion("@Url.Action("Login","Usuarios")");'><i class="material-icons">input</i>Cerrar Sesión</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- #User Info -->
                                    <!-- Menu -->
                                    <div class="menu">
                                        <ul class="list">
                                            <li class="header">NAVEGACIÓN</li>
                                            <li class="active">
                                                <a href='@Url.Action("Index","Home")'>
                                                    <i class="material-icons">home</i>
                                                    <span>Inicio</span>
                                                </a>
                                            </li>
                                            <li id="menuUsuarios" class="ocultar-menu">
                                                <a href="#" class="menu-toggle">
                                                    <i class="material-icons">supervisor_account</i>
                                                    <span>Usuarios</span>
                                                </a>
                                                <ul class="ml-menu">
                                                    <li>
                                                        <a href='@Url.Action("AgregarUsuario","Usuarios")'>Agregar usuario</a>
                                                    </li>
                                                    <li>
                                                        <a href='@Url.Action("Index","Usuarios")'>Administrar usuarios</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#" class="menu-toggle">
                                                    <i class="material-icons">commute</i>
                                                    <span>Autobuses</span>
                                                </a>
                                                <ul class="ml-menu">
                                                    <li>
                                                        <a href='@Url.Action("Origenes","Camiones")'>Origenes</a>
                                                    </li>
                                                    <li>
                                                        <a href='@Url.Action("Destinos","Camiones")'>Destinos</a>
                                                    </li>
                                                    <li>
                                                        <a href='@Url.Action("Reservar","Camiones")'>Reservar viaje</a>
                                                    </li>
                                                    <li>
                                                        <a href='@Url.Action("BuscarCamion","Camiones")'>Buscar camiones disponibles</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#" class="menu-toggle">
                                                    <i class="material-icons">account_balance</i>
                                                    <span>Cuenta Bancaria</span>
                                                </a>
                                                <ul class="ml-menu">
                                                    <li>
                                                        <a href='@Url.Action("Index","Pagos")'>Registrar cuenta</a>
                                                    </li>
                                                    <li>
                                                        <a href='@Url.Action("ConsultarHistorial","Pagos")'>Consultar Historial</a>
                                                    </li>
                                                    <li>
                                                        <a href='@Url.Action("ConsultarTransaccion","Pagos")'>Consultar Transaccion</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            @*<li class="header">LABELS</li>
                        <li>
                            <a href="javascript:void(0);">
                                <i class="material-icons col-red">donut_large</i>
                                <span>Important</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <i class="material-icons col-amber">donut_large</i>
                                <span>Warning</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <i class="material-icons col-light-blue">donut_large</i>
                                <span>Information</span>
                            </a>
                        </li>*@
                                        </ul>
                                    </div>
                                    <!-- #Menu -->
                                    <!-- Footer -->
                                    <div class="legal">
                                        <div class="copyright">
                                            &copy; 2019 <a href="#">Uv.mx Agencia de Viajes</a>.
                                        </div>
                                        <div class="version">
                                            <b>Version: </b> 1.0
                                        </div>
                                    </div>
                                    <!-- #Footer -->
                                </aside>
                                <!-- #END# Left Sidebar -->
                                <!-- Right Sidebar -->
                                <aside id="rightsidebar" class="right-sidebar">
                                    <div class="btn-group user-helper-dropdown">
                                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>

                                    </div>
                                    <ul class="" role="tablist">
                                        <li role="presentation"><a href="#settings" data-toggle="tab">SETTINGS</a></li>
                                    </ul>
                                    <div class="">
                                        <div class="tab-pane fade">
                                            <div class="demo-settings">
                                                <p>GENERAL SETTINGS</p>
                                                <ul class="setting-list">
                                                    <li><a onclick='navigate("@Url.Action("VerPerfil","Usuarios")");'><i class="material-icons">person</i>Mi Perfil</a></li>
                                                    <li role="separator" class="divider"></li>
                                                    <li><a href="#"><i class="material-icons">flight_takeoff</i>Mis viajes</a></li>
                                                    <li><a href="#"><i class="material-icons">card_travel</i>Mis hoteles</a></li>
                                                    <li role="separator" class="divider"></li>
                                                    <li><a onclick='cerrarSesion("@Url.Action("Login","Usuarios")");'><i class="material-icons">input</i>Cerrar Sesión</a></li>
                                                </ul>
                                                <ul class="setting-list">
                                                    <li>
                                                        <span>Report Panel Usage</span>
                                                        <div class="switch">
                                                            <label><input type="checkbox" checked><span class="lever"></span></label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <span>Email Redirect</span>
                                                        <div class="switch">
                                                            <label><input type="checkbox"><span class="lever"></span></label>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <p>SYSTEM SETTINGS</p>
                                                <ul class="setting-list">
                                                    <li>
                                                        <span>Notifications</span>
                                                        <div class="switch">
                                                            <label><input type="checkbox" checked><span class="lever"></span></label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <span>Auto Updates</span>
                                                        <div class="switch">
                                                            <label><input type="checkbox" checked><span class="lever"></span></label>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <p>ACCOUNT SETTINGS</p>
                                                <ul class="setting-list">
                                                    <li>
                                                        <span>Offline</span>
                                                        <div class="switch">
                                                            <label><input type="checkbox"><span class="lever"></span></label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <span>Location Permission</span>
                                                        <div class="switch">
                                                            <label><input type="checkbox" checked><span class="lever"></span></label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </aside>
                                <!-- #END# Right Sidebar -->
                            </section>

                            <section class="content">
                                <div class="container-fluid">
                                    @RenderBody()
                                </div>
                            </section>

                            <!-- Jquery Core Js -->
                            <script src="~/Scripts/Vendor/jquery-3.3.1.min.js"></script>

                            <!-- Bootstrap Core Js -->
                            <script src="~/Scripts/Vendor/bootstrap.js"></script>

                            <!-- Select Plugin Js
    <script src="plugins/bootstrap-select/js/bootstrap-select.js"></script>-->
                            <!-- Slimscroll Plugin Js -->
                            <script src="~/Scripts/Vendor/jquery.slimscroll.js"></script>

                            <!-- Waves Effect Plugin Js -->
                            <script src="~/Content/Vendor/Dashboard/node-waves/waves.js"></script>

                            <!-- Jquery CountTo Plugin Js -->
                            <script src="~/Scripts/Vendor/plugins/jquery.countTo.js"></script>

                            <!-- Morris Plugin Js -->
                            <script src="~/Scripts/Vendor/plugins/raphael.min.js"></script>
                            <script src="~/Scripts/Vendor/plugins/morris.js"></script>

                            <!-- ChartJs -->
                            <script src="~/Scripts/Vendor/plugins/Chart.bundle.js"></script>

                            <!-- Flot Charts Plugin Js -->
                            <script src="~/Scripts/Vendor/flot-charts/jquery.flot.js"></script>
                            <script src="~/Scripts/Vendor/flot-charts/jquery.flot.resize.js"></script>
                            <script src="~/Scripts/Vendor/flot-charts/jquery.flot.pie.js"></script>
                            <script src="~/Scripts/Vendor/flot-charts/jquery.flot.categories.js"></script>
                            <script src="~/Scripts/Vendor/flot-charts/jquery.flot.time.js"></script>

                            <!-- Sparkline Chart Plugin Js -->
                            <script src="~/Scripts/Vendor/jquery-sparkline/jquery.sparkline.js"></script>

                            <!-- Custom Js -->
                            <script src="~/Scripts/Vendor/Dashboard/admin.js"></script>
                            <script src="~/Scripts/Vendor/Dashboard/index.js"></script>

                            <!-- Demo Js -->
                            <script src="~/Scripts/Vendor/Dashboard/demo.js"></script>
                            @RenderSection("Scripts", required: false)
                            <script>
                                $(document).ready(function () {
                                    $('#hfUsuarioId').val(sessionStorage.getItem("IdUsuario"));
                                    $('#hfTipoUser').val(sessionStorage.getItem("tipoUsuario"));
                                    $('#divName').text(sessionStorage.getItem("username"));
                                    $('#divTipoUsuario').text(sessionStorage.getItem("tipoUsuario"));
                                    console.log(sessionStorage.getItem("IdUsuario"));
                                    console.log(sessionStorage.getItem("tipoUsuario"));
                                    if ($('#hfTipoUser').val() === 'Admin') {
                                        $('#menuUsuarios').removeClass("ocultar-menu");
                                    }
                                });

                                function navigate(target) {
                                    //Grab your values
                                    var id = $('#hfUsuarioId').val();
                                    //Perform your navigation
                                    window.location.href = target + '?idUsuario=' + id;
                                }

                                function cerrarSesion(target) {
                                    //Grab your values
                                    sessionStorage.setItem("IdUsuario", "0");
                                    //Perform your navigation
                                    window.location.href = target;
                                }
                            </script>
</body>

</html>
