﻿@model AgenciaViajes.Web.Models.Usuario

<div class="card shadow p-3 mb-5 rounded text-center">
    <div class="card-body">
        <h3 class="p-t-20">Actualizar Usuario</h3>
        <hr />

        <input id="hfIdUsuario" value='@(Model?.id)' type="hidden" class="form-control" placeholder="ID">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="email_address_2">Nombre:</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
                <div class="form-group">
                    <div class="form-line">
                        <input id="txtNombre" value='@(Model?.nombre)' type="text" class="form-control" placeholder="Nombre">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="email_address_2">Username:</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
                <div class="form-group">
                    <div class="form-line">
                        <input id="txtUsername" value='@(Model?.username)' type="text" class="form-control" placeholder="Usuario">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="email_address_2">Tipo de Usuario:</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
                <div class="form-group">
                    <div class="form-line">
                        <input id="txtTipoUsuario" value='@(Model?.tipoUsuario)' type="text" class="form-control" placeholder="Tipo de Usuario">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="email_address_2">Contraseña:</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
                <div class="form-group">
                    <div class="form-line">
                        <input id="txtContrasena" value='@(Model?.contrasena)' type="password" class="form-control" placeholder="Contraseña">
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-b-20">
            <button id="btnActualizar" type="button" class="btn btn-info waves-effect text-right col-md-1 col-md-offset-9">
                <i class="material-icons">save</i>
                <span>Guardar</span>
            </button>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/Usuarios/ActualizarUsuario.js"></script>
}