﻿@model AgenciaViajes.Web.Models.Usuario

<div class="card shadow p-3 mb-5 rounded text-center">
    <div class="card-body">
        <h3 class="p-t-20">Edita tus datos</h3>
        <hr />
        <input id="hfIdUsuario" type="hidden" value='@(Model?.id)' />
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="email_address_2">Nombre:</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
                <div class="form-group">
                    <div class="form-line">
                        <input id="txtNombre" type="text" class="form-control" value='@(Model?.nombre)' placeholder="Nombre">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="email_address_2">Username:</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
                <div class="form-group">
                    <div class="form-line">
                        <input id="txtUsername" type="text" class="form-control" value='@(Model?.username)' placeholder="Usuario">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="email_address_2">Tipo de Usuario:</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
                <div class="form-group">
                    <div class="form-line">
                        <input id="txtTipoUsuario" type="text" class="form-control" value='@(Model?.tipoUsuario)' placeholder="Tipo de Usuario">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="email_address_2">Contraseña:</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
                <div class="form-group">
                    <div class="form-line">
                        <input id="txtContrasena" type="password" class="form-control" value='@(Model?.contrasena)' placeholder="Contraseña">
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-b-20">
            <button id="btnActualizar" type="button" class="btn btn-info waves-effect text-right col-md-1 col-md-offset-9">
                <i class="material-icons">save</i>
                <span>Guardar</span>
            </button>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/Usuarios/ActualizarPerfil.js"></script>
}