﻿@model List<AgenciaViajes.Web.ClientesService.usuario>
@{
    ViewBag.Title = "Index";
}
<div class="card text-center">
    <h3 class="p-t-20">Administrar Usuarios</h3>
    <hr />
    <div class="body table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Nombre</td>
                    <td>Username</td>
                    <td>Tipo de Usuario</td>
                    <td>Opciones</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in Model)
                {
                    <tr>
                        <th scope="row">@row.id</th>
                        <td>@row.nombre</td>
                        <td>@row.username</td>
                        <td>@(row.tipoUsuario.Equals("1") ? "Normal" : row.tipoUsuario)</td>
                        <td>
                            <button onclick="actualizarUsuario(@row.id)" class="btn btn-primary btn-sm waves-effect">Editar</button>
                            <button onclick="eliminar(@row.id)" class="btn btn-danger btn-sm waves-effect">Eliminar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/Usuarios/Index.js"></script>
}