﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- signup -->
<div class="signup-section">
    <div class="signup">
        <div class="modal-content modal-info">

            <div class="modal-header">
                <!-- <img src="img/carretera.jpg">	        -->
                <h3>Iniciar Sesión</h3>
            </div>
            <div class="modal-body modal-spa">
                <div class="login-form">
                    <form>
                        <ol>
                            <li>
                                <div class="form-group">
                                    <i class="fa fa-user"></i>
                                    <label for="txtUsername">Username</label>
                                    <input type="text" class="form-control" id="txtUsername" placeholder="Username">
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
                                    <i class="fa fa-key"></i>
                                    <label for="txtPassword">Password</label>
                                    <input type="password" class="form-control" id="txtPassword" placeholder="Password">
                                </div>
                            </li>
                        </ol>

                        <div class="signin-rit">
                            <div class="clear"> </div>
                        </div>
                        <button type="submit" class="btnContinuar" id="btnLogin">Entrar</button>
                    </form>
                    <!-- //script for password confirmation -->
                    <p>¿No tienes cuenta? <a href='@Url.Action("Register","Usuarios")'>¡Regístrate!</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- //signup -->
    <div class="clear"></div>
</div>


@section Scripts {
    <script src="~/Scripts/Usuarios/Login.js"></script>
}