﻿
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- signup -->
<div class="signup-section">
    <div class="signup">
        <div class="modal-content modal-info">

            <div class="modal-header">
                <!-- <img src="img/carretera.jpg">	        -->
                <h3>Regístrate</h3>
            </div>
            <div class="modal-body modal-spa">
                <div class="login-form">
                    <form>
                        <ol>
                            <li>
                                <i class="fa fa-tag"></i>
                                <label for="txtId">Id:</label>
                                <input type="text" id="txtId" name="txtId" placeholder="Id" title="Ingresa un ID" required />
                            </li>
                            <li>
                                <i class="fa fa-user"></i>
                                <label for="txtName">Nombre:</label>
                                <input type="text" id="txtName" name="txtName" placeholder="Nombre" title="Ingresa un Nombre" required />
                            </li>
                            <li>
                                <i class="fa fa-user"></i>
                                <label for="txtUsername">Nombre de usuario:</label>
                                <input type="text" id="txtUsername" name="txtUsername" placeholder="Nombre de Usuario" title="Ingresa un Nombre de Usuario" required />
                            </li>
                            <li>
                                <i class="fa fa-key"></i>
                                <label for="txtPassword">Contraseña:</label>
                                <input type="password" name="txtPassword" placeholder="Contraseña" id="txtPassword" required />
                            </li>
                            <li>
                                <i class="fa fa-key"></i>
                                <label for="txtPassword2">Confirmar contraseña:</label>
                                <input type="password" name="txtPassword2" placeholder="Confirmar contraseña" id="txtPassword2" required />
                            </li>
                        </ol>
                        <input id="btnRegister" type="submit" value="Registrarse">
                    </form>
                    <!-- script for password confirmation -->
                    <script type="text/javascript">
                        window.onload = function () {
                            document.getElementById("txtPassword").onchange = validatePassword;
                            document.getElementById("txtPassword2").onchange = validatePassword;
                        }
                        function validatePassword() {
                            var pass2 = document.getElementById("txtPassword2").value;
                            var pass1 = document.getElementById("txtPassword").value;
                            if (pass1 != pass2)
                                document.getElementById("txtPassword2").setCustomValidity("Las contraseñas no coinciden");
                            else
                                document.getElementById("txtPassword2").setCustomValidity('');
                            //empty string means no validation error
                        }
                    </script>
                    <!-- //script for password confirmation -->
                    <p>¿Ya tienes cuenta? <a href='@Url.Action("Login","Usuarios")'>Inicia sesión</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- //signup -->
    <div class="clear"></div>
</div>

@section Scripts {
    <script src="~/Scripts/Usuarios/Register.js"></script>
}