﻿@model AgenciaViajes.Web.Models.Usuario


<div class="card shadow p-3 mb-5 rounded text-center">
    <div class="card-body">
        <h3 class="p-t-20">Mi perfil</h3>
        <hr />
        <input type="hidden" id="hfIdUsuario" value='@(Model?.id)' />

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-6 form-control-label">
                <label for="email_address_2">Nombre:</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" class="form-control" value='@(Model?.nombre)' placeholder="Nombre" disabled>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-6 form-control-label">
                <label for="email_address_2">Username:</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" class="form-control" value='@(Model?.username)' placeholder="Usuario" disabled>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-6 form-control-label">
                <label for="email_address_2">Tipo de Usuario:</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" class="form-control" value='@(Model?.tipoUsuario)' placeholder="Tipo de Usuario" disabled>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-6 form-control-label">
                <label for="email_address_2">Contraseña:</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
                <div class="form-group">
                    <div class="form-line">
                        <input type="password" class="form-control" value='@(Model?.contrasena)' placeholder="Contraseña" disabled>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-b-20">
            <a href='@Url.Action("ActualizarPerfil","Usuarios", new { idUsuario = Model.id })' type="button" class="btn btn-info waves-effect text-right col-md-1 col-md-offset-9">
                <i class="material-icons">edit</i>
                <span>Editar</span>
            </a>
        </div>
    </div>
</div>


